[submodule "submodules/nginx"]
	path = submodules/nginx
	url = https://github.com/nginx/nginx.git
[submodule "submodules/cjson"]
	path = submodules/cjson
	url = https://github.com/DaveGamble/cJSON.git
[submodule "submodules/quickjs-ng"]
	path = submodules/quickjs-ng
	url = https://github.com/quickjs-ng/quickjs.git
[submodule "submodules/njs"]
	path = submodules/njs
	url = https://github.com/nginx/njs.git
